name: CI - Terraform

on:
  push:
    branches: ["**"]
  pull_request:

permissions:
  contents: read

jobs:
  terraform-fmt:
    name: terraform fmt (repo)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.0"
          terraform_wrapper: false

      - name: Terraform fmt check
        run: terraform fmt -check -recursive


  terraform-validate:
    name: terraform validate (examples)
    runs-on: ubuntu-latest
    needs: terraform-fmt

    strategy:
      fail-fast: false
      matrix:
        dir:
          - examples/both-zone-vpc
          - examples/zone-only
          - examples/vpc-only

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"
          terraform_wrapper: false

      - name: Terraform init (no backend)
        working-directory: ${{ matrix.dir }}
        run: terraform init -backend=false

      - name: Terraform validate
        working-directory: ${{ matrix.dir }}
        run: terraform validate
